# General
/*.js
/*.json
/**/*.d.ts

# Folders
node_modules
.solid
netlify

# Configs
tsconfig.json
package.json
vite.config.ts
.prettierrc.js
.prettierignore
postcss.config.cjs
tailwind.config.cjs
netlify.toml
